/* common css start */
:root{
   --color-primary: #FF5733;
   --color-dark: #222222;
   --color-secondary : #888888;
   --color-white: #ffffff;
   --color-background: #FCE2DC;
   --color-bg-2: #F9F9F9;
   --color-border-bottom:#E2E2E2;
   --primary-font : 'Noticia Text', serif;
   --secondary-font : 'Roboto', sans-serif;
   --regular : 400;
   --bold : 800;
}
 *{
    margin: 0;
    padding: 0;
 }

 a{
    text-decoration: none;
 }

 ul,ol{
    list-style-type: none;
 }
 
 h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
 }

 .container{
   width:1170px;
   margin: 0 auto;
 }

 body{
   overflow-x: hidden;
 }

/* common css end */

/* nav area start */

nav{
   padding: 23px 0;
   border-bottom: 1px solid #F1F1F1;
}

.nav-bar{
   display: flex; 
   align-items: center;
   justify-content: space-between;
}

.logo{ 
   width: 20%; 
}

.menu{ 
   width: 80%; 
}

.menu ul{
   display: flex;
   justify-content: flex-end; 
}

.menu ul li a{
   font-family: var(--secondary-font);
   font-size: 14px;
   font-weight: var(--regular);
   color: var(--color-dark);
   text-transform: capitalize;
   padding: 0 29px; 
}

.menu ul li a:hover{
   color: var(--color-primary);
}

.menu ul li:last-child a{
   padding-right: 0;
}

/* nav area end */


/* Banner area start */

#banner{
   margin-top: 80px;
   position: relative; 
}

.hero{
   position: relative;
}

.ciecle{
   border-radius: 50%;
   border: 1px solid var(--color-primary);
}

.circle-one{
   position: absolute;
   width: 377px;
   height: 377px;
   bottom: -125px;
   left: -230px;
}

.circle-two{
   position: absolute;
   width: 279px;
   height: 279px;
   top: 25px;
   right: -180px;
}

.circle-three{
   position: absolute;
   width: 75px;
   height: 75px;
   top: 63px;
   left: 0;
}

.circle-three{
   position: absolute;
   width: 75px;
   height: 75px;
   top: 63px;
   left: 0;
}

.circle-four{
   position: absolute;
   width: 30px;
   height: 30px;
   top: 87px;
   right: 170px;
}

.circle-five{
   position: absolute;
   width: 38px;
   height: 38px;
   bottom:60px;
   left: 200px;
}

.circle-six{
   position: absolute;
   width: 135px;
   height: 135px;
   bottom: 42px;
   right: 0;
}

.hero-section{
   position: relative; 
}

.hero-section::before{ 
   content: "";
   position: absolute;
   width: 32.5px;
   height: 32.5px;
   border-radius: 50%;
   top: 50%;
   transform: translateY(-50%);
   left: 38.5%;
   z-index: -2; 
   background-color: var(--color-background);
}

.hero-section::after{ 
   content: "";
   position: absolute;
   width: 32.5px;
   height: 32.5px;
   border-radius: 50%;
   top: 50%;
   transform: translateY(-50%);
   right: 38.5%;
   z-index: -2; 
   background-color: var(--color-background);
}

.hero-photo{
   text-align: center;
   position: relative; 
}

.hero-photo img{ 
   width: 120px;
   height: 120px;
   object-fit: cover;
   border-radius: 50%;
   border: 2px solid var(--color-background); 
}

.hero-photo::before {
   content: "";
   position: absolute;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   top: 50%;
   transform: translateY(-50%);
   left: 40.3%;
   z-index: -1; 
   border: 30px solid var(--color-primary);
} 

.hero-photo::after {
   content: "";
   position: absolute;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   top: 50%;
   transform: translateY(-50%);
   right: 40.3%;
   z-index: -1; 
   border: 30px solid var(--color-primary);
}

.hero-info{
   text-align: center;
   padding-top:30px ;
}

.intro-title{
   font-family: var(--primary-font);
   color: var(--color-primary);
   font-size: 24px;
   line-height: 24px;
   font-weight: var(--bold);
}

.hero-title{
   font-family: var(--primary-font);
   color: var(--color-dark);
   font-size: 64px;
   line-height: 74px;
   padding: 20px 240px 0;
   text-transform:capitalize;
}

.hero-desc{
   font-family: var(--secondary-font);
   font-size: 18px;
   line-height: 30px;
   color: var(--color-secondary ); 
   padding: 30px 333px 0;
}

.hero-link{
   margin-top: 40px;
   text-align: center;
}

.hero-button{
   font-family: var(--secondary-font);
   width: 200px;
   height: 52px;
   font-size: 16px;
   line-height: 15px;
   color: var(--color-white);
   background: var(--color-primary);
   border-radius: 50px;
   padding: 19px 40px;
}

/* Banner area end */


/* Brand area start */

#brands{ 
   margin-top: 105px; 
}

.brand{
   display: flex;
   justify-content: space-between;
}

/* Brand area end */


/* Description area start */
#description{
   margin-top: 219px;
}
 
.description-section{
   position: relative;
   display: flex;
   justify-content: space-between;
}

.description-title{
   width: 50%;
   padding-right: 53px ;
}

.description-section::after{
   content: "";
   position: absolute;
   width: 790px;
   height: 366px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   z-index: -1; 
   background: var(--color-bg-2);
}

.description-title p{
   font-family: var(--primary-font);
   font-size: 48px !important;
   color: var(--color-dark);
   line-height: 63px;
   font-weight: var(--bold);
   text-transform: capitalize;
}

.description-paragraph{
   width: 50%;
   padding-left: 53px ;
}
.description-paragraph p{
   font-family: var(--secondary-font);
   font-size: 18px !important;
   color: var(--color-secondary );
   line-height: 30px;
   font-weight: var(--regular); 
}

/* Description area end */


/* Experiance area start */
.exp-main{
   display: flex;
   gap: 130px;
   margin-top: 169px;
}

.exp-left{
   width: 50%;
} 
.exp-title{
   margin-bottom: 30px;
}

.e-title{
   font-family: var(--primary-font);
   position: relative;
   font-size: 48px !important;
   line-height: 63px;
   font-weight: var(--bold);
   color: var(--color-dark);
}

.e-icon{
   position: absolute;
   left: 17%;
}

.exp-desc p{
   font-family: var(--secondary-font);
   font-size: 18px !important;
   color: var(--color-secondary );
   line-height: 28px;
   font-weight: var(--regular); 
   padding: 0 10px 30px 0;
   border-bottom: 1px solid var(--color-border-bottom);
}

.completed-project{
   background: var(--color-bg-2);
}

.exp-of{
   display: flex;
   justify-content: space-between; 
   gap: 30px;
   margin-top: 30px;
}

.completed-project{
   padding: 25px 30px;
}

.total-number{
   font-family: var(--primary-font);
   font-size: 48px;
   line-height: 63px;
   font-weight: var(--bold);
   color: var(--color-primary);
}

.comment{
   font-family: var(--secondary-font);
   font-size: 16px !important;
   color: var(--color-secondary );
   line-height: 26px;
   font-weight: var(--regular); 
   padding:10px 10px 0 0;
}

.exp-right{
   width: 50%;
}


.exp-info{
   border-bottom: 1px solid var(--color-border-bottom);
}

.designation{
   font-family: var(--primary-font);
   font-size: 24px;
   font-weight: var(--regular);
   color: #555555;
   padding-bottom: 15px;
   text-transform: capitalize;
}

.company-name{
   font-family: var(--primary-font);
   font-size: 36px;
   font-weight: var(--bold);
   color: var(--color-dark);
   padding-bottom: 25px;
   text-transform: capitalize;
}

.time-location{
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
   font-family: var(--secondary-font);
   font-size: 16px;
   line-height: 26px;
   color: #777777;
   margin-bottom: 45px;
}

/* Experiance area end */


/* Service area start */

#services{
   text-align: center;
   margin-top: 160px; 
} 

.service-list{
   position: relative;
   padding-bottom: 80px;
}

.service-list::after{ 
   content: "";
   position: absolute;
   width: 1270px;
   height:265px;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   z-index: -1; 
   background: var(--color-bg-2);
} 

.title{
   font-family: var(--primary-font);
   text-align: center;
   font-size: 48px;
   line-height: 63px;
   color: var(--color-dark);
   position: relative;
}

.s-title-img{
   position: absolute;
   left: 51%;
}

.service-list{
   display: flex;
   justify-content: space-between;
   margin-top: 53px;
}

.service-item{ 
   width: 370px;
   height: 390px;
   border-radius: 8px;
   background-color: var(--color-white);
}

.service-img{
   margin-top: 53px;
}

.service-icon{
   /* width: 65px; */
   max-height: 65px;
   object-fit: cover;
}
 
.service-name{
   font-family: var(--primary-font);
   font-size: 24px;
   line-height: 24px;
   font-weight: var(--bold);
   margin-top: 45px;
   margin-bottom: 20px;
}

.service-desc p{
   font-family: var(--secondary-font);
   font-weight: var(--regular);   
   line-height: 26px;
   font-size: 16px;
   color: var(--color-secondary );
   padding: 0 24px;
}

.service-link{
   margin-top: 25px;
}

.link{
   font-family: var(--secondary-font);
   font-size: 16px; 
   font-weight: var(--bold);   
   line-height: 15px;
   color: var(--color-primary);
   text-transform: capitalize;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
}

/* Service area End */

/* Experiance area start  */

#testimonial{
   margin-top:160px ;
}

.t-title{
   text-align: center;
   font-family: var(--primary-font);
   font-size: 48px;
   line-height: 63px;
   font-weight: var(--bold);
}

.testimonial-title{
   margin-bottom: 68px;
   position: relative;
}

.testmonial-info{
   display: flex;  
   background: var(--color-bg-2);
   padding: 80px 91px 80px 82px;
   padding-left: 32px;
}

.t-title-img{
   position: absolute;
   left: 43%;
}

.quote-icon{
   width: 60px;
   height: 60px;
}
.testmonial-content{  
   width: 60%;

}
.quote-inner{
   margin-left: 65px;
}

.quote-message p{
   font-family: var(--secondary-font);
   font-weight: var(--regular); 
   font-size: 24px;
   line-height: 34px; 
   margin-bottom: 30px;
   color: var(--color-secondary );
}

.testmonial-photo{
  width: 40%;
}

.testmonial-photo img{
  width: 445px;
  height: 525px;
  padding-left: 32px;
}

.quoter-profile{
   display: flex;
   align-items: center;
}

.quoter-photo img{
   height: 75px;
   width: 75px;
   border-radius: 50%;
   padding-right: 7px;
}

.quoter-photo{
   margin-right: 7px;
}

.quoter-info{
   margin-left: 7px;
}

.quoter-name{
   font-family: var(--secondary-font);
   font-size: 20px;
   font-weight: var(--bold);
   line-height: 20px;
   text-transform: capitalize;
   color: var(--color-dark);
   margin-bottom: 6px;
}

.quoter-designation{
   font-family: var(--secondary-font);
   font-size: 16px;
   font-weight: 600;
   line-height: 16px;
   text-transform: capitalize;
   margin-top: 6px;
   color: #777777;
}

.slider-btn{
   display: flex; 
   align-items: center;
   gap: 20px;
}

.arrow {
   margin-top: 50px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: #EFEFEF;
   color: #AAAAAA; 
   text-align: center; 
   position: relative;
   cursor: pointer;
}

.arrow i{
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
}
/* Experiance area end  */



/* Projects  area start  */
 
.projects-section{
   margin-top: 160px; 
   position: relative;
}

.project-items{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 80px;
   justify-content: space-between;
}

.project-titel{
   margin-bottom: 50px;
}

.p-icon{
   position: absolute;
   left: 37%;
}
 
.single-project{
   position: relative;
   width: 570px;
   height: 570px;
   margin-bottom: 30px; 
}

.project-info{
   margin: 0 0 35px 35px;
}

.overlay{
   position: absolute;  
   top: 0;
   left: 0;
   z-index: 1;  
   width: 100%;
   height: 100%;
   display: flex;
   align-items: flex-end;
   background: linear-gradient(  rgba(255, 255, 255, 0.187766) ,rgba(0, 0, 0, 0.8)); 
   /* transform: rotate(180deg);  */
}

.project-photo img{
   width: 100%;
   height: 100%;
   object-fit: cover;  
}

.single-project-title{
   font-family: var(--primary-font);
   font-size: 24px !important;
   text-transform: capitalize !important;
   line-height: 34px !important;
   font-weight: var(--bold) !important;
   color: var(--color-white);
   display: block;
   margin-bottom: 5px;
}

.breadcumb{
   font-family: var(--secondary-font) !important;
   font-size: 18px !important;
   text-transform: capitalize !important;
   line-height: 18px !important;
   font-weight: var(--regular) !important;
   color: var(--color-white);
   margin-top: 5px;
   display: block;
}
 
/* Projects  area end  */


/* Contact area  start  */

.p-title{
   font-family: var(--primary-font);
   font-weight: var(--bold);
   font-size: 24px;
   line-height: 24px;
   letter-spacing: -1%;
   padding-bottom: 25px;
   color: var(--color-primary);
}

.contact-info{
   text-align: center;
}

.address{
   padding-top: 25px;
   font-family: var(--secondary-font) !important;
   font-weight: var(--regular);
   font-size: 18px;
   line-height: 18px;
   color: var(--color-secondary );
}

.email{
   font-family: var(--primary-font);
   font-weight: var(--bold);
   font-size: 48px;
   line-height: 58px; 
   padding-bottom: 11px;
   color: var(--color-dark);
}

.phone{
   padding: 11px 0 25px 0;
   font-family: var(--secondary-font) !important;
   font-weight: var(--regular);
   font-size: 18px; 
   color: var(--color-secondary );
}

.social-links{
   display: flex;
   justify-content: center;
   text-transform: capitalize;
   gap: 30px;
   padding-top: 25px;
   padding-bottom: 85px;
}

.social-link{
   font-family: var(--secondary-font) !important;
   color: var(--color-dark);
   font-size: 14px;
   
}

.social-link:hover{
   color: var(--color-primary);
}

/* Contact area  end  */


/* copyright area  start  */

footer{
   border-top: 1px solid #E7E7E7;
}

.copyright{
   font-family: var(--secondary-font) !important;
   text-align: center;
   font-size: 15px; 
   font-weight: var(--regular);
   margin: 50px 0 54px 0;
   color: var(--color-secondary );
}

/* copyright area  end  */
